In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
#rozpakowywanie danych
data = pd.read_pickle("Data.pickle")

In [3]:
data

,School Name,Region,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,California Institute of Technology (CIT),California,Engineering,75500.0,123000.0,62650.0,104000.0,161000.0,175571.428571
1,Harvey Mudd College,California,Engineering,71800.0,122000.0,62650.0,96000.0,180000.0,175571.428571
2,"University of California, Berkeley",California,State,59900.0,112000.0,59500.0,81000.0,149000.0,201000.000000
3,Occidental College,California,Liberal Arts,51900.0,105000.0,NaN,54800.0,157000.0,NaN
4,Cal Poly San Luis Obispo,California,State,57200.0,101000.0,55000.0,74700.0,133000.0,178000.000000
...,...,...,...,...,...,...,...,...,...
255,Fitchburg State College,Northeastern,State,42400.0,72600.0,43300.0,56100.0,99600.0,151000.000000
256,University Of Maine,Northeastern,State,41200.0,72100.0,41700.0,55600.0,99300.0,141000.000000
257,State University of New York (SUNY) at Potsdam,Northeastern,State,38000.0,70300.0,35100.0,51200.0,100000.0,179000.000000
258,State University of New York (SUNY) at Fredonia,Northeastern,State,37800.0,66200.0,32800.0,44200.0,93300.0,181000.000000
259,University of Southern Maine,Northeastern,State,39400.0,63600.0,40400.0,47900.0,85700.0,117000.000000

## Analiza korelacji miÄ™dzy medianÄ… zarobkÃ³w poczÄ…tkowych absolwentÃ³w a ich zarobkÃ³w 10 lat od rozpoczÄ™cia kariery

In [4]:
st.pearsonr(data['Starting Median Salary'],data['Mid-Career Median Salary'])

(0.9009217367567477, 1.6152279024528496e-95)

WspÃ³Å‚czynnik korelacji r-Pearsona miÄ™dzy poczÄ…tkowÄ… medianÄ… zarobkÃ³w a medianÄ… zarobkÃ³w 10 lat od rozpoczÄ™cia kariery jest bardzo wysoki. Wskazuje to na to, Å¼e istnieje bardzo wysoka korelacja miÄ™dzy poczÄ…tkowymi zarobkami absolwentÃ³w danego uniwersytetu, a ich zarobkami w dalszym Å¼yciu zawodowym. Ponadto p o bardzo maÅ‚ej wartoÅ›ci (znaczÄ…co poniÅ¼ej poziomu alfa=0,05) Å›wiadczy o wiarygodnoÅ›ci korelacji.

## Test istotnoÅ›ci rÃ³Å¼nic miÄ™dzy medianÄ… zarobkÃ³w 10 lat od rozpoczÄ™cia kariery absolwentÃ³w uniwersytetÃ³w z regionu Southern i regionu Northeast

In [5]:
# Zbiory zostaÅ‚y wybrane ze wzglÄ™du na to, Å¼e sÄ… to regiony o najwiÄ™kszej liczbie uniwersytetÃ³w
# oraz sÄ… prawie rÃ³wnoliczne.
# Badanie liczebnoÅ›ci zbiorÃ³w:
x=[]
y=[]
for region in data.Region.unique():
    x.append(len(data.loc[data['Region'] == region].index))
    y.append(region)
print (x, '\n', y)

[26, 36, 62, 67, 69]
 ['California', 'Western', 'Midwestern', 'Southern', 'Northeastern']

Najbardziej licznymi zbiorami sÄ… Southern oraz Northeastern, majÄ… rÃ³wnieÅ¼ zbliÅ¼onÄ… licznoÅ›Ä‡. W celu wykonania testu T z wiÄ™kszego zbioru zostaÅ‚a pobrana prÃ³bka o licznoÅ›ci mniejszego zbioru. PominiÄ™cie jedynie dwÃ³ch rekordÃ³w nie powinno znaczÄ…co wpÅ‚ynÄ…Ä‡ na analizÄ™.

In [6]:
# Pobranie losowej prÃ³by z wiÄ™kszego zbioru
sample=data.loc[data['Region'] == 'Northeastern'].sample(n=67)
# dla wygody stworzenie zbioru z prÃ³bÄ… z caÅ‚oÅ›ci mniejszego zbioru
sample2=data.loc[data['Region'] == 'Southern']

Test T wykonywany w poniÅ¼szy sposÃ³b wymaga speÅ‚nienia zaÅ‚oÅ¼enia o zbliÅ¼onym do normalnego rozkÅ‚adnie danych. W zwiÄ…zku z tym wykonany zostaÅ‚ test dla rozkÅ‚adu normalnego dla obu zbiorÃ³w. Przy zaÅ‚oÅ¼onym poziomie istotnoÅ›ci alfa = 0,05 wynik p mniejszy od alfa oznacza odrzucenie hipotezy zerowej o normalnoÅ›ci rozkÅ‚adu. Wynik p wiÄ™kszy od alfa - hipoteza o normalnoÅ›ci rozkÅ‚adu nie jest odrzucana.

In [7]:
st.normaltest(sample['Mid-Career Median Salary'])

NormaltestResult(statistic=3.729395454042106, pvalue=0.15494303790076197)

In [8]:
st.normaltest(sample2['Mid-Career Median Salary'])

NormaltestResult(statistic=1.7663357498922758, pvalue=0.41347101035437683)

Oba rozkÅ‚ady moÅ¼na uznaÄ‡ za normalne. NastÄ™pnie naleÅ¼y sprawdziÄ‡ rÃ³wnoÅ›Ä‡ wariancji. W tym celu wykonany zostaÅ‚ test levene'a. Podobnie jak w teÅ›cie rozkÅ‚adu, p mniejsze od alfa Å›wiadczy o tym, Å¼e hipotezÄ™ zerowÄ… o rÃ³wnoÅ›ci wariacji naleÅ¼y odrzuciÄ‡.

In [9]:
st.levene(sample['Mid-Career Median Salary'],sample2['Mid-Career Median Salary'])

LeveneResult(statistic=14.97141197800633, pvalue=0.0001707427883300336)

Wariancje nie sÄ… rÃ³wne, hipotezÄ™ odrzucamy, w zwiÄ…zku z tym wykonujÄ…c test istotnoÅ›ci rÃ³Å¼nic wykorzystujemy dodatkowy parametr informujÄ…cy o nierÃ³wnych wariancjach. P niÅ¼sze od alfa bÄ™dzie Å›wiadczyÅ‚o o tym, Å¼e rÃ³znice sÄ… istotne

In [10]:
st.ttest_ind(sample['Mid-Career Median Salary'],sample2['Mid-Career Median Salary'],equal_var= False)

Ttest_indResult(statistic=5.492292555377446, pvalue=2.4957269581564933e-07)

Wynikowe p jest zdecydowanie poniÅ¼ej poziomu alfa. Test istotnoÅ›ci wykazaÅ‚ wiÄ™c, Å¼e rÃ³Å¼nice w medianie zarobkÃ³w 10 lat po rozpoczÄ™ciu kariery dla wybranych regionÃ³w sÄ… statystycznie istotne.